.container{
    display: flex;
}

.container Button{
  border-radius: 25px;
}


.darkBtn {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.lightBtn {
  background-color: #3182ce !important;
  color: #ffffff !important;
}

.darkBtn:hover {
  background-color: #202020 !important;
}
.lightBtn:hover {
  background-color: #549ee2 !important;
}


  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }