.container{
    margin-top: 18px;
    display: flex;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #2a292b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .button:hover,
  .button:active {
    background-color:#484545;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    
  }
  
  .badge {
    background-color: #484545;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: .25rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #2a292b;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }