.cardFooter {
  justify-content: space-between;
}

.price {
  align-items: center;
  gap: 20px;
}

.price p {
  margin-bottom: 0px;
}

.lightBackground {
  background-color: white;
  color: #121212;
}

.darkBackground {
  background-color: #333333 !important;
  color: #ffffff;
}
