.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}
.card:hover {
  transform: scale(1.05);
}

.lightBackground {
  background-color: white;
  color: #121212;
}

.darkBackground {
  background-color: #333333;
  color: #ffffff;
}

.darkBtn {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.lightBtn {
  background-color: #3182ce !important;
  color: #ffffff !important;
}

.darkBtn:hover {
  background-color: #202020 !important;
}
.lightBtn:hover {
  background-color: #549ee2 !important;
}

.card hr {
  margin-top: 5px;
}

.title {
  text-align: center;
}

.body {
  text-align: inherit;
  font-size: smaller;
  margin-top: 15px;
}

.footer {
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin-bottom: 0;
}
