.main_container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }

  .productLoading {
    text-align: center;
    color: white;
  }
  
  .productError {
    text-align: center;
    color: red;
  }
  