.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    height: 300px;
    margin: 5px;
    width: 15%;
  }
  .card img{
    width: 100px;
    height: 100px;
  }

  .description{
    text-align: initial;
    font-size: medium;
  }

  .card h2{
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .price_control{
    display: flex;
    align-items: center;
    height: 30px;
    font-weight: bold;
    gap: 2px;
    
  }
  .card a{
    text-decoration: none;
    color: black;
  }
  
