.container {
  display: flex;
  background-color: #242c3a;
  justify-content: space-around;
  text-align: center;
}

.container h3 {
  color: white;
}

.container ul {
  color: white;
  list-style: none;
  padding: 0;
}

.container a {
  text-decoration: none;
  color: white;
}

.section {
  margin: 2rem;
}
