.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.lightBackground {
  background-color: #18263d;
  color: #ffffff;
}

.darkBackground {
  background-color: #333333;
  color: #ffffff;
}

.listHeading{
  font-weight: bold;
  margin-bottom: 10px;

}


.container ul {
  
  list-style: none;
  padding: 0;
  
}

.container a {
  text-decoration: none;
  
  font-size:smaller;
}



